@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$bg-color: rgba(44, 43, 49, 1);
$score-color: rgba(255, 255, 0, 1);
$endModal-bg-color: rgba(0, 0, 0, 1);
$endModal-text-color: rgba(255, 255, 255, 1);

body {
   background-color: $bg-color;
   font-family: 'Press Start 2P', cursive;
}

#root {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   flex-direction: column;
}

#canvas {
   border: 1px solid black;
}

#modal {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.5);
}

.hide {
   display: none;
}

.scoreContainer {
   color: $score-color;
   padding: 10px;
   display: flex;
   justify-content: space-between;
}

.end {
   width: 400px;
   height: 300px;
   background-color: $endModal-bg-color;
   color: $endModal-text-color;
   border: 3px solid $endModal-text-color;

   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}

.againBtn {
   background-color: transparent;
   padding: 10px 20px;
   font-family: inherit;
   color: $endModal-text-color;
   border: 3px solid $endModal-text-color;
   cursor: pointer;
}
